# Text segmentation
## Taggers
The following taggers are involved with the text segmentation.
### TokensTagger
Uses nltk WordPunctTokenizer to tokenize raw text. Creates tokens layer.

In [1]:
from estnltk.taggers import TokensTagger
tokens_tagger = TokensTagger()
tokens_tagger

TokensTagger(input_layers=(), output_layer=tokens, output_attributes=(), apply_punct_postfixes=True)

In [2]:
from estnltk import Text
T = '''Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.

A. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.'''
text = Text(T)
tokens_tagger.tag(text)
text['tokens']

Layer(name='tokens', attributes=(), spans=SL[Span('Aadressilt', [{}]),
Span('bla', [{}]),
Span('@', [{}]),
Span('bla', [{}]),
Span('.', [{}]),
Span('ee', [{}]),
Span('tuli', [{}]),
Span('10', [{}]),
Span('000', [{}]),
Span('kirja', [{}]),
Span('.', [{}]),
Span('Kirjad', [{}]),
Span(',', [{}]),
Span('st', [{}]),
Span('.', [{}]),
Span('spamm', [{}]),
Span('saabus', [{}]),
Span('10', [{}]),
Span('tunni', [{}]),
Span('jooksul', [{}]),
Span('.', [{}]),
Span('A', [{}]),
Span('.', [{}]),
Span('H', [{}]),
Span('.', [{}]),
Span('Tammsaare', [{}]),
Span('1935', [{}]),
Span('.', [{}]),
Span('aatal', [{}]),
Span(':', [{}]),
Span('1', [{}]),
Span(',', [{}]),
Span('0', [{}]),
Span('m', [{}]),
Span('/', [{}]),
Span('s', [{}]),
Span('=', [{}]),
Span('3', [{}]),
Span(',', [{}]),
Span('67', [{}]),
Span('km', [{}]),
Span('/', [{}]),
Span('h', [{}]),
Span('.', [{}])])

### CompounTokenTagger

In [3]:
from estnltk.taggers import CompoundTokenTagger
compound_token_tagger = CompoundTokenTagger()
compound_token_tagger

CompoundTokenTagger(input_layers=('tokens',), output_layer=compound_tokens, output_attributes=('type', 'normalized'), custom_abbreviations=(), ignored_words=set(), tag_numbers=True, tag_units=True, tag_email_and_www=True, tag_emoticons=True, tag_xml=True, tag_initials=True, tag_abbreviations=True, tag_case_endings=True, tag_hyphenations=True, use_custom_abbreviations=False, do_not_join_on_strings=('\n\n',))

In [4]:
compound_token_tagger.tag(text)
text['compound_tokens']

Layer(name='compound_tokens', attributes=('type', 'normalized'), spans=SL[EnvelopingSpan(['bla', '@', 'bla', '.', 'ee'], [{'type': ['email'], 'normalized': None}]),
EnvelopingSpan(['10', '000'], [{'type': ['numeric'], 'normalized': '10000'}]),
EnvelopingSpan(['st', '.'], [{'type': ['non_ending_abbreviation'], 'normalized': 'st.'}]),
EnvelopingSpan(['A', '.', 'H', '.', 'Tammsaare'], [{'type': ['name_with_initial'], 'normalized': 'A. H. Tammsaare'}]),
EnvelopingSpan(['1935', '.'], [{'type': ['numeric'], 'normalized': '1935.'}]),
EnvelopingSpan(['1', ',', '0'], [{'type': ['numeric'], 'normalized': '1,0'}]),
EnvelopingSpan(['m', '/', 's'], [{'type': ['unit'], 'normalized': 'm/s'}]),
EnvelopingSpan(['km', '/', 'h'], [{'type': ['unit'], 'normalized': 'km/h'}])])

### WordTagger

In [5]:
from estnltk.taggers import WordTagger
word_tagger = WordTagger()
word_tagger

WordTagger(input_layers=('tokens', 'compound_tokens'), output_layer=words, output_attributes=('normalized_form',), make_ambiguous=True)

In [6]:
word_tagger.tag(text)
text['words']

Layer(name='words', attributes=('normalized_form',), spans=SL[Span('Aadressilt', [{'normalized_form': None}]),
Span('bla@bla.ee', [{'normalized_form': None}]),
Span('tuli', [{'normalized_form': None}]),
Span('10 000', [{'normalized_form': '10000'}]),
Span('kirja', [{'normalized_form': None}]),
Span('.', [{'normalized_form': None}]),
Span('Kirjad', [{'normalized_form': None}]),
Span(',', [{'normalized_form': None}]),
Span('st.', [{'normalized_form': 'st.'}]),
Span('spamm', [{'normalized_form': None}]),
Span('saabus', [{'normalized_form': None}]),
Span('10', [{'normalized_form': None}]),
Span('tunni', [{'normalized_form': None}]),
Span('jooksul', [{'normalized_form': None}]),
Span('.', [{'normalized_form': None}]),
Span('A. H. Tammsaare', [{'normalized_form': 'A. H. Tammsaare'}]),
Span('1935.', [{'normalized_form': '1935.'}]),
Span('aatal', [{'normalized_form': None}]),
Span(':', [{'normalized_form': None}]),
Span('1,0', [{'normalized_form': '1,0'}]),
Span('m / s', [{'normalized_form': 'm/s'}]),
Span('=', [{'normalized_form': None}]),
Span('3', [{'normalized_form': None}]),
Span(',', [{'normalized_form': None}]),
Span('67', [{'normalized_form': None}]),
Span('km/h', [{'normalized_form': 'km/h'}]),
Span('.', [{'normalized_form': None}])])

### SentenceTokenizer

In [7]:
# NBVAL_IGNORE_OUTPUT
from estnltk.taggers import SentenceTokenizer
sentence_tokenizer = SentenceTokenizer()
sentence_tokenizer

SentenceTokenizer(input_layers=('words', 'compound_tokens'), output_layer=sentences, output_attributes=(), base_sentence_tokenizer=<nltk.tokenize.punkt.PunktSentenceTokenizer object at 0x0000015C1399D198>, fix_paragraph_endings=True, fix_compound_tokens=True, fix_numeric=True, fix_parentheses=True, fix_double_quotes=True, fix_inner_title_punct=True, fix_repeated_ending_punct=True, fix_double_quotes_based_on_counts=False, use_emoticons_as_endings=True, record_fix_types=False)

In [8]:
sentence_tokenizer.tag(text)
text['sentences']

Layer(name='sentences', attributes=(), spans=SL[EnvelopingSpan(['Aadressilt', 'bla@bla.ee', 'tuli', '10 000', 'kirja', '.'], [{}]),
EnvelopingSpan(['Kirjad', ',', 'st.', 'spamm', 'saabus', '10', 'tunni', 'jooksul', '.'], [{}]),
EnvelopingSpan(['A. H. Tammsaare', '1935.', 'aatal', ':', '1,0', 'm / s', '=', '3', ',', '67', 'km/h', '.'], [{}])])

In [9]:
t = '''Aadressilt bla@bla.ee tuli 10 000 kirja, st. spammi aadressile foo@foo.ee 10 tunni jooksul 2017. aastal. \
A. H. Tammsaare: 1,0 m / s = 3, 67 km/h.'''

In [10]:
from estnltk.taggers import ParagraphTokenizer
paragraph_tokenizer = ParagraphTokenizer()
paragraph_tokenizer

ParagraphTokenizer(input_layers=('sentences',), output_layer=paragraphs, output_attributes=(), regex=\s*

, paragraph_tokenizer=RegexpTokenizer(pattern='\\s*\n\n', gaps=True, discard_empty=True, flags=<RegexF ..., type: <class 'nltk.tokenize.regexp.RegexpTokenizer'>)

In [11]:
paragraph_tokenizer.tag(text)
text['paragraphs']

Layer(name='paragraphs', attributes=(), spans=SL[EnvelopingSpan(['Aadressilt', 'bla@bla.ee', 'tuli', '10 000', 'kirja', '.', 'Kirjad', ',', 'st.', 'spamm', 'saabus', '10', 'tunni', 'jooksul', '.'], [{}]),
EnvelopingSpan(['A. H. Tammsaare', '1935.', 'aatal', ':', '1,0', 'm / s', '=', '3', ',', '67', 'km/h', '.'], [{}])])

In [12]:
text

Text(text='Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.\n\nA. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.')

# tag_layer
All above is equivalent to

In [13]:
Text(T).tag_layer(['paragraphs'])

Text(text='Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.\n\nA. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.')

# analyse
One can also write

In [14]:
Text(T).analyse('segmentation')

Text(text='Aadressilt bla@bla.ee tuli 10 000 kirja. Kirjad, st. spamm saabus 10 tunni jooksul.\n\nA. H. Tammsaare 1935. aatal: 1,0 m / s = 3, 67 km/h.')

Here auxiliary layers are deleted.

# Word tokenization

In [15]:
from estnltk import Text

t = '''Aadressilt bla@bla.ee tuli 10 000 kirja, st. spammi aadressile foo@foo.ee 10 tunni jooksul 2017. aastal. \
A. H. Tammsaare: 1,0 m / s = 3, 67 km/h.'''
t

'Aadressilt bla@bla.ee tuli 10 000 kirja, st. spammi aadressile foo@foo.ee 10 tunni jooksul 2017. aastal. A. H. Tammsaare: 1,0 m / s = 3, 67 km/h.'

In [16]:
text = Text(t)
text.tag_layer(['words'])
text['words']

Layer(name='words', attributes=('normalized_form',), spans=SL[Span('Aadressilt', [{'normalized_form': None}]),
Span('bla@bla.ee', [{'normalized_form': None}]),
Span('tuli', [{'normalized_form': None}]),
Span('10 000', [{'normalized_form': '10000'}]),
Span('kirja', [{'normalized_form': None}]),
Span(',', [{'normalized_form': None}]),
Span('st.', [{'normalized_form': 'st.'}]),
Span('spammi', [{'normalized_form': None}]),
Span('aadressile', [{'normalized_form': None}]),
Span('foo@foo.ee', [{'normalized_form': None}]),
Span('10', [{'normalized_form': None}]),
Span('tunni', [{'normalized_form': None}]),
Span('jooksul', [{'normalized_form': None}]),
Span('2017.', [{'normalized_form': '2017.'}]),
Span('aastal', [{'normalized_form': None}]),
Span('.', [{'normalized_form': None}]),
Span('A. H. Tammsaare', [{'normalized_form': 'A. H. Tammsaare'}]),
Span(':', [{'normalized_form': None}]),
Span('1,0', [{'normalized_form': '1,0'}]),
Span('m / s', [{'normalized_form': 'm/s'}]),
Span('=', [{'normalized_form': None}]),
Span('3', [{'normalized_form': None}]),
Span(',', [{'normalized_form': None}]),
Span('67', [{'normalized_form': None}]),
Span('km/h', [{'normalized_form': 'km/h'}]),
Span('.', [{'normalized_form': None}])])